@import "tailwindcss";

@theme {
  --color-background: oklch(0.9818 0.0054 95.0986);
  --color-foreground: oklch(0.3438 0.0269 95.7226);
  --color-card: oklch(0.9818 0.0054 95.0986);
  --color-card-foreground: oklch(0.1908 0.0020 106.5859);
  --color-popover: oklch(1.0000 0 0);
  --color-popover-foreground: oklch(0.2671 0.0196 98.9390);
  --color-primary: oklch(0.6171 0.1375 39.0427);
  --color-primary-foreground: oklch(1.0000 0 0);
  --color-secondary: oklch(0.9245 0.0138 92.9892);
  --color-secondary-foreground: oklch(0.4334 0.0177 98.6048);
  --color-muted: oklch(0.9341 0.0153 90.2390);
  --color-muted-foreground: oklch(0.6059 0.0075 97.4233);
  --color-accent: oklch(0.9245 0.0138 92.9892);
  --color-accent-foreground: oklch(0.2671 0.0196 98.9390);
  --color-destructive: oklch(0.1908 0.0020 106.5859);
  --color-destructive-foreground: oklch(1.0000 0 0);
  --color-border: oklch(0.8847 0.0069 97.3627);
  --color-input: oklch(0.7621 0.0156 98.3528);
  --color-ring: oklch(0.6171 0.1375 39.0427);
  --radius: 0.5rem;
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0;
  min-height: 100vh;
}
